<app-cabecalho></app-cabecalho>

<div class="pagina-marca">
  <div class="cabecalho-marca">
    <div class="container">
      <button class="botao-voltar" (click)="voltar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        Voltar
      </button>
      <h1>{{ nomeMarca }}</h1>
      <p>{{ quantidadeCarros }} veículos disponíveis</p>
    </div>
  </div>

  <div class="container">
    <div class="grade-carros">
      <div class="card-carro" *ngFor="let carro of carros">
        <div class="imagem-carro">
          <img [src]="carro.imagem" [alt]="carro.nome">
          <span class="ano-carro">{{ carro.ano }}</span>
        </div>
        <div class="info-carro">
          <h3>{{ carro.nome }}</h3>
          <p class="preco-carro">R$ {{ carro.preco | number:'1.0-0' }}</p>
          <div class="detalhes-carro">
            <span>{{ carro.km | number:'1.0-0' }} km</span>
            <span>•</span>
            <span>{{ carro.transmissao }}</span>
          </div>
          <button class="botao-ver">Ver detalhes</button>
        </div>
      </div>
    </div>
  </div>
</div>

